img {
    height: 310px;
    width: 350px;
}

.head {
    color: rgb(8, 40, 222);
    font-size: 64px;
    font-family: Poppins, sans-serif;
}

.list {
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 50px;

}



body {
    font-family: Poppins, sans-serif;
    background-color: #faedcd;

}


h3 {
    color: rgb(37, 8, 223);
}

a {
    font-size: 24px;
    color: rgb(8, 40, 222);
}