html {
    font-size: 30px;
}

img {
    height: 15.375rem;
    width: 30rem;
    margin: 0.3rem;
    margin-left: 500px;
    border-radius: 5%;



}

h1 {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    text-align: center;

}

.list {
    font-family: Roboto, sans-serif;
    list-style: none;
    margin-left: 45%;

}





body {
    font-family: Roboto;
    background-color: #bde0fe;


}


h3 {
    color: rgb(37, 8, 223);
}

a {
    font-size: 0.8rem;
    color: rgb(3, 38, 237);
    text-decoration: none;
    margin: auto;


}

a:hover {
    color: rgb(15, 15, 15);
}