html {
    font-size: 30px;
}

img {
    height: 10.375rem;
    width: 20rem;
    margin: 0.3rem;
    border: 0.1em solid black;
}

h1 {
    color: rgb(8, 40, 222);
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    text-align: center;

}

.list {
    font-family: Poppins, sans-serif;
}





body {
    font-family: Poppins, sans-serif;
    background-color: #e4dcc8;

}


h3 {
    color: rgb(37, 8, 223);
}

a {
    font-size: 1rem;
    color: rgb(3, 38, 237);

}